

<div class="box has-background-grey">
    <p class="has-text-white-ter">
        <strong class="has-text-white-ter">Name of cryptocurrency: </strong> {{name}} / {{symbol}}
    </p>
  <p class="has-text-white-ter">
      <strong class="has-text-white-ter">Current Price: </strong> $ {{price}} CAD
  </p>
</div>