

<div class="box has-background-white-ter">
    <p class="has-text-grey">
        <strong>Name of cryptocurrency: </strong> {{name}} / {{symbol}}
    </p>
  <p class="has-text-grey">
      <strong>Current Price: </strong> $ {{price}} CAD
  </p>
</div>