  <img  src="/assets/front.jpg" class="image" alt="crypto graph">
<div class="columns" id="maintitle">
  <div class="column" id="shrinkk">
    <p class="bd-notification is-info">Cryptos</p>
    <div class="columns is-mobile">
      </div>
      </div>
       <div class="column" id="shrinkk">
    <p class="bd-notification is-info">Price</p>
    <div class="columns is-mobile">
      </div>
      </div>
         <div class="column" id="shrink">
    <p class="bd-notification is-info">Market Cap</p>
    <div class="columns is-mobile">
      </div>
      </div>
         <div class="column" id="shrink">
    <p class="bd-notification is-info">Update(1h)</p>
    <div class="columns is-mobile">
      </div>
      </div>
             <div class="column" id="shrink">
    <p class="bd-notification is-info">Update(24h)</p>
    <div class="columns is-mobile">
      </div>
      </div>
             <div class="column"id="shrink">
    <p class="bd-notification is-info">Update(7days)</p>
    <div class="columns is-mobile">
      </div>
      </div>
             <div class="column"id="shrink">
    <p class="bd-notification is-info">Update(30days)</p>
    <div class="columns is-mobile">
      </div>
      </div>
             <div class="column"id="shrink">
    <p class="bd-notification is-info">Update(60days)</p>
    <div class="columns is-mobile">
      </div>
      </div>
      </div>
{{#each quotes as |quote|}}
{{> quote-info quote }}
{{/each}}

{{#each posts as |post|}}

{{> post-info post }}
</div>

{{else}}
<h6 class="pb-4 has-text-centered is-italic">There is no post yet</h6>
{{/each}}